<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /bk_agenda1/
    
    # Si el archivo o directorio no existe, redireccionar a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
</IfModule>
